{% extends "base.html" %}
{% block tittle %} {{ product.name }} || Rueda Libre {% endblock %}
{% load static %}
{% block slide %} {% endblock %}
{% block infoProduc %}
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="{% url 'home' %}">Inicio</a>
						<i>|</i>
					</li>
					<li>{{ product.name}}</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- Single Page -->
	<div class="banner-bootom-w3-agileits py-5">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>{{ product.name }}</span>
			</h3>
			<!-- //tittle heading -->
			<div class="row">
				<div class="col-lg-5 col-md-8 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider">
							<ul class="slides">
								<li data-thumb=" {{ product.image }}">
									<div class="thumb-image">
										<img src=" {{ product.image }}" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
								<li data-thumb=" {{ product.image_one }}">
									<div class="thumb-image">
										<img src="{{ product.image_one }}" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
								<li data-thumb=" {{ product.image_two }}">
									<div class="thumb-image">
										<img src="{{ product.image_two }}" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-7 single-right-left simpleCart_shelfItem">
					<h3 class="mb-3">{{ product.name }}</h3>
					<p class="mb-3">
						<span class="item_price">${{ product.price }}</span>
						<del class="mx-2 font-weight-light">$450.000</del>
						<label>Envio Gratis</label>
					</p>
					<div class="single-infoagile">
						<ul>
							<li class="mb-3">
								Elegible para pago contraentrega.
							</li>
							<li class="mb-3">
								Entrega Rapida.
							</li>
							<li class="mb-3">
								Envios a nivel nacional.
							</li>
						</ul>
					</div>
					<div class="product-single-w3l">
						<p class="my-3">
							<i class="far fa-hand-point-right mr-2"></i>
							{% if product.warranty %}
							<label>(Garantía: {{ product.duration_warranty}}) </label>
							  {% else %}
							    <label>No aplica garantía</label>
							{% endif %}
							</p>
						<ul>
						  <li class="mb-1">
							  Código | {{ product.reference_code}}
							</li>
							<li class="mb-1">
								Materiales | {{product.material}} | 
							</li>
							<li class="mb-1">
								Tallas | {{ product.size}} |
							</li>
							<li class="mb-1">
								Colores | {{ product.color }} |
							</li>
							<li class="mb-1">
								Beneficios | ({{product.description }})
							</li>
							<li class="mb-1">
								Peso | {{product.peso}}G |
							</li> 
							<li class="mb-1">
								Categoría | {{product.category}} |
							</li>
							<li class="mb-1">
								Stock | {{product.stock}} |
							</li>
						</ul>
						<p class="my-sm-4 my-3">
							<i class="fas fa-retweet mr-3"></i>Cumple sus expectativas, o | Se la cambiamos
						</p>
						<ul>
						  <li class="mb-2">
						    Disclaimer | Aplican TyC
						  </li>
						</ul>
					</div>
					<div class="occasion-cart">
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
							<form action="#" method="post">
								<fieldset>
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="business" value=" " />
									<input type="hidden" name="item_name" value="{{ product.name }}" />
									<input type="hidden" name="amount" value="{{ product.price }}" />
									<input type="hidden" name="discount_amount" value="0" />
									<input type="hidden" name="currency_code" value="COP" />
									<input type="hidden" name="return" value=" " />
									<input type="hidden" name="cancel_return" value=" " />
									<input type="submit" name="submit" value="Añadir al carrito" class="button" />
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Single Page -->
{% endblock %}