{% extends "base.html" %}
{% load static $}

{% block tittle %} Productos || Rueda Libre {% endblock %}
{% block products %}
	<!-- top Products -->
	<div class="ads-grid py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>T</span>ienda
				<!-- <span>&</span>
				<span>C</span>omputers -->
			</h3>
			<!-- //tittle heading -->
			<div class="row">
				<!-- product left -->
				<div class="agileinfo-ads-display col-lg-9">
					<div class="wrapper">
						<!-- first section -->
						<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
							<div class="row">
								<div class="col-md-4 product-men mt-md-0 mt-5">
									<div class="men-pro-item simpleCart_shelfItem">
										<div class="men-thumb-item text-center">
											<img src="images/sii1.jpg" alt="">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="{% url 'product' %}" class="link-product-add-cart">Vista rápida</a>
												</div>
											</div>
											<span class="product-new-top">Nuevo</span>

										</div>
										<div class="item-info-product text-center border-top mt-4">
											<h4 class="pt-1">
												<a href="mercedes.html">Mercedes(Pantalla Tactil)</a>
											</h4>
											<div class="info-product-price my-2">
												<span class="item_price">$1.430.000</span>
												<del>$1.670.000</del>
											</div>
											<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart" />
														<input type="hidden" name="add" value="1" />
														<input type="hidden" name="business" value=" " />
														<input type="hidden" name="item_name" value="Mercedes Benz (Pantalla Tactil)" />
														<input type="hidden" name="amount" value="1430000" />
														<input type="hidden" name="discount_amount" value="0" />
														<input type="hidden" name="currency_code" value="COP" />
														<input type="hidden" name="return" value=" " />
														<input type="hidden" name="cancel_return" value=" " />
														<input type="submit" name="submit" value="Añadir al carrito" class="button btn" />
													</fieldset>
												</form>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //first section -->
						<!-- second section -->
						<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
							<div class="row">
								<div class="col-md-4 product-men">
									<div class="men-pro-item simpleCart_shelfItem">
										<div class="men-thumb-item text-center">
											<img src="images/mk5.jpg" alt="">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="ford-ranger.html" class="link-product-add-cart">Vista rápida</a>
												</div>
											</div>
										</div>
										<div class="item-info-product text-center border-top mt-4">
											<h4 class="pt-1">
												<a href="ford-ranger.html">Ford Ranger(4 Motores)</a>
											</h4>
											<div class="info-product-price my-2">
												<span class="item_price">$1.850.000</span>
												<del>$2.000.000</del>
											</div>
											<span class="product-new-top">Nuevo</span>
											<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart" />
														<input type="hidden" name="add" value="1" />
														<input type="hidden" name="business" value=" " />
														<input type="hidden" name="item_name" value="Ford Ranger(4 Motores)" />
														<input type="hidden" name="amount" value="1850000" />
														<input type="hidden" name="discount_amount" value="0" />
														<input type="hidden" name="currency_code" value="COP" />
														<input type="hidden" name="return" value=" " />
														<input type="hidden" name="cancel_return" value=" " />
														<input type="submit" name="submit" value="Añadir al carrito" class="button btn" />
													</fieldset>
												</form>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //second section -->
						<!-- 3rd section -->
						<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mt-4">
							<div class="row">
								<div class="col-md-4 product-men mt-md-0 mt-5 mt-5">
									<div class="men-pro-item simpleCart_shelfItem">
										<div class="men-thumb-item text-center">
											<img src="images/hm1.jpg" alt="" class="img-fluid">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Vista rápida</a>
												</div>
											</div>
										</div>
										<div class="item-info-product text-center border-top mt-4">
											<h4 class="pt-1">
												<a href="single.html">Carro Policia (HM-918)</a>
											</h4>
											<div class="info-product-price my-2">
												<span class="item_price">$950.000</span>
												<del>$1.020.000</del>
											</div>
											<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart" />
														<input type="hidden" name="add" value="1" />
														<input type="hidden" name="business" value=" " />
														<input type="hidden" name="item_name" value="Carro Policia (HM-918)" />
														<input type="hidden" name="amount" value="950000" />
														<input type="hidden" name="discount_amount" value="0" />
														<input type="hidden" name="currency_code" value="COP" />
														<input type="hidden" name="return" value=" " />
														<input type="hidden" name="cancel_return" value=" " />
														<input type="submit" name="submit" value="Añadir al carrito" class="button btn" />
													</fieldset>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //3rd section -->
						<!-- fourth section -->
						<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mt-4">
							<div class="row">
								<div class="col-md-4 product-men mt-md-0 mt-5 mt-5">
									<div class="men-pro-item simpleCart_shelfItem">
										<div class="men-thumb-item text-center">
											<img src="images/mt1.jpg" alt="" class="img-fluid">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Vista rápida</a>
												</div>
											</div>
										</div>
										<div class="item-info-product text-center border-top mt-4">
											<h4 class="pt-1">
												<a href="single.html">Moto Carro Electrica Niñ@</a>
											</h4>
											<div class="info-product-price my-2">
												<span class="item_price">$270.000</span>
												<del>$350.000</del>
											</div>
											<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart" />
														<input type="hidden" name="add" value="1" />
														<input type="hidden" name="business" value=" " />
														<input type="hidden" name="item_name" value="Moto Carro Electrica Niñ@" />
														<input type="hidden" name="amount" value="270000" />
														<input type="hidden" name="discount_amount" value="0" />
														<input type="hidden" name="currency_code" value="COP" />
														<input type="hidden" name="return" value=" " />
														<input type="hidden" name="cancel_return" value=" " />
														<input type="submit" name="submit" value="Añadir al carrito" class="button btn" />
													</fieldset>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //fourth section -->
					</div>
				</div>
				<!-- //product left -->
				<!-- product right -->
				<div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
					<div class="side-bar p-sm-4 p-3">
						<div class="search-hotel border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Busque Aqui...</h3>
							<form action="#" method="post">
								<input type="search" placeholder="Ingrese un producto..." name="search" required="">
								<input type="submit" value=" ">
							</form>
						</div>
						<!-- price -->
						<div class="range border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Precio</h3>
							<div class="w3l-range">
								<ul>
									<li>
										<a href="#">Menos $1.000.000</a>
									</li>
									<li class="my-1">
										<a href="#">$1.000.000 - $1.500.000</a>
									</li>
									<li>
										<a href="#">$1.500.000 - $2.000.000</a>
									</li>
									<li class="my-1">
										<a href="#">$2.000.000 - $2.500.000</a>
									</li>
									<li>
										<a href="#">$2.500.000 - $3.000.000</a>
									</li>
									<li class="mt-1">
										<a href="#">Mas $3.000.000</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- //price -->
						<!-- discounts -->
						<div class="left-side border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Descuento</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">5% O Mas</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">10% O Mas</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">15% O Mas</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">20% O Mas</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">25% O Mas</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">30% O Mas</span>
								</li>
							</ul>
						</div>
						<!-- //discounts -->
						<!-- reviews -->
						<div class="customer-rev border-bottom left-side py-2">
							<h3 class="agileits-sear-head mb-3">Mejores Productos</h3>
							<ul>
								<li>
									<a href="#">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<span>5.0</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<span>4.0</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half"></i>
										<span>3.5</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<span>3.0</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half"></i>
										<span>2.5</span>
									</a>
								</li>
							</ul>
						</div>
						<!-- //reviews -->
						<!-- electronics -->
						<div class="left-side border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Filtrar por productos</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Bicicletas</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Jugueteria</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Carros</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Motos</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Equipos de Gimnasio</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Electronica</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Indumentaria</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Ruta</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Mtb</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Urbanas</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Bmx</span>
								</li>
							</ul>
						</div>
						<!-- //electronics -->
						<!-- delivery -->
						<div class="left-side border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Opciones de pago</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Envio gratis</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Pago contraEntrega</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Entrega Rapida</span>
								</li>
							</ul>
						</div>
						<!-- //delivery -->
						<!-- arrivals -->
						<div class="left-side border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Lo Mas Nuevo</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Ultimos 30 dias</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Ultimos 60 dias</span>
								</li>
							</ul>
						</div>
						<!-- //arrivals -->
					</div>
					<!-- //product right -->
				</div>
			</div>
		</div>
	</div>
	<!-- //top products -->
{% endblock%}